flows_backupmanager.json
[
    {
        "id": "f26a56d3.358178",
        "type": "tab",
        "label": "PMI Backups"
    },
    {
        "id": "d589de7d.564f7",
        "type": "tab",
        "label": "MySQL Backups"
    },
    {
        "id": "975e98f6.cb0d18",
        "type": "tab",
        "label": "Webinterface & SMSRouter"
    },
    {
        "id": "e7f51916.854388",
        "type": "tab",
        "label": "Info zu Servern"
    },
    {
        "id": "a1b88efc.9c36",
        "type": "tab",
        "label": "USV monitor"
    },
    {
        "id": "eaa16b3b.2ab0b8",
        "type": "tab",
        "label": "Certbot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b7e2dbf3f8a0d2d1",
        "type": "tab",
        "label": "XOVIS History Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34bedef2.a87872",
        "type": "MySQLdatabase",
        "host": "192.168.16.30",
        "port": "3306",
        "db": "innoCRM_DEV",
        "tz": ""
    },
    {
        "id": "4b48f686.c7afa8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ff0000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "default": "#4B7930",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ff0000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ff4d4d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ff0000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Backup",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bf549c99.e0d78",
        "type": "ui_tab",
        "name": "Backup",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "8eacb75a.f30a98",
        "type": "ui_tab",
        "name": "Server & Zertifikate",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "13e43e57.e11172",
        "type": "ui_tab",
        "name": "USV",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "7038d1f6.b702a",
        "type": "ui_tab",
        "name": "Hue",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "4cf7eba9.d68bd4",
        "type": "ui_group",
        "name": "Admintool",
        "tab": "bf549c99.e0d78",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "934340fe.2a519",
        "type": "ui_group",
        "name": "Zahnradstrasse",
        "tab": "bf549c99.e0d78",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "806d2a50.bd3228",
        "type": "ui_group",
        "name": "Herdern",
        "tab": "bf549c99.e0d78",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "de88de4b.ae663",
        "type": "ui_group",
        "name": "Webinterface",
        "tab": "bf549c99.e0d78",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ffe046ba.db96b8",
        "type": "ui_group",
        "name": "Speicher",
        "tab": "8eacb75a.f30a98",
        "order": 2,
        "disp": true,
        "width": 12
    },
    {
        "id": "c7b25243.f0753",
        "type": "ui_group",
        "name": "Allgemein",
        "tab": "8eacb75a.f30a98",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1ec63994.514506",
        "type": "ui_group",
        "name": "SMSRouter",
        "tab": "bf549c99.e0d78",
        "order": 6,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5d911b95.fd5aa4",
        "type": "ui_group",
        "name": "Input Altbau",
        "tab": "13e43e57.e11172",
        "order": 2,
        "disp": true,
        "width": "9"
    },
    {
        "id": "a8df75bf.aa4268",
        "type": "ui_group",
        "name": "Output Altbau",
        "tab": "13e43e57.e11172",
        "order": 3,
        "disp": true,
        "width": "9"
    },
    {
        "id": "ec8a7c7d.42355",
        "type": "ui_group",
        "name": "Batterie Neubau",
        "tab": "13e43e57.e11172",
        "order": 4,
        "disp": true,
        "width": "9"
    },
    {
        "id": "d2f800c9.3d6e8",
        "type": "ui_group",
        "name": "Input Neubau",
        "tab": "13e43e57.e11172",
        "order": 5,
        "disp": true,
        "width": "9"
    },
    {
        "id": "2c9449fd.dcfc06",
        "type": "ui_group",
        "name": "Output Neubau",
        "tab": "13e43e57.e11172",
        "order": 6,
        "disp": true,
        "width": "9"
    },
    {
        "id": "81d36971.d8dc4",
        "type": "ui_group",
        "name": "HUE",
        "tab": "7038d1f6.b702a",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "fa31b01.9254b5",
        "type": "ui_group",
        "name": "Batterie Altbau",
        "tab": "13e43e57.e11172",
        "order": 1,
        "disp": true,
        "width": "9"
    },
    {
        "id": "e2f66453c5a5b7ec",
        "type": "ui_group",
        "name": "Status Certbot",
        "tab": "8eacb75a.f30a98",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9678139818ca887e",
        "type": "ui_spacer",
        "z": "e7f51916.854388",
        "name": "spacer",
        "group": "c7b25243.f0753",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "1e9ddfa92e6f8d50",
        "type": "ui_spacer",
        "z": "e7f51916.854388",
        "name": "spacer",
        "group": "e2f66453c5a5b7ec",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "19ca401d8e6b23b0",
        "type": "MySQLdatabase",
        "name": "",
        "host": "192.168.16.35",
        "port": "3306",
        "db": "XOVIS",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "29cd36a9.74b33a",
        "type": "file in",
        "z": "f26a56d3.358178",
        "name": "File lesen",
        "filename": "",
        "format": "utf8",
        "x": 1260,
        "y": 940,
        "wires": [
            [
                "373b94e6.6b71dc"
            ]
        ]
    },
    {
        "id": "108287bd.2e6808",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "setze filename Attribut",
        "func": "msg.filename=msg.path+msg.array;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 940,
        "wires": [
            [
                "29cd36a9.74b33a"
            ]
        ]
    },
    {
        "id": "373b94e6.6b71dc",
        "type": "csv",
        "z": "f26a56d3.358178",
        "name": "CSV zu Objekt",
        "sep": ";",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 540,
        "y": 980,
        "wires": [
            [
                "85d2b03e.d0e0c"
            ]
        ]
    },
    {
        "id": "85d2b03e.d0e0c",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "<< & >> löschen",
        "func": "try{\n    msg.payload.col2 = msg.payload.col2.replace(\">> \",\"\")\n}\ncatch(e){}\ntry{\nmsg.payload.col3 = msg.payload.col3.replace(\"<< \",\"\")\n}\ncatch(e){}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 980,
        "wires": [
            [
                "b4a1a679.e598f8"
            ]
        ]
    },
    {
        "id": "555cfd8.dded204",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "Verzeichnis definieren ZHR",
        "func": "msg.path=\"/mnt/backup/Anlagen/zhr/tmp/\"\nmsg.table=\"zhrtmp\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 940,
        "wires": [
            [
                "d7e8e41f.761648"
            ]
        ]
    },
    {
        "id": "4e12cc01.ebbb34",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "stdout",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "a14dd1d4.c1b8e",
        "type": "exec",
        "z": "f26a56d3.358178",
        "command": "bash /usr/backup/hrd/run.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 320,
        "y": 480,
        "wires": [
            [
                "4e12cc01.ebbb34",
                "cd18fc4f.b993"
            ],
            [
                "1d4c2f5b.1f7d21"
            ],
            [
                "455fe821.076c68"
            ]
        ]
    },
    {
        "id": "4d121202.7ace0c",
        "type": "inject",
        "z": "f26a56d3.358178",
        "name": "HRD",
        "repeat": "",
        "crontab": "10 02 * * *",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "8c51488f.3d7a48"
            ]
        ]
    },
    {
        "id": "1d4c2f5b.1f7d21",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "stderr",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 478,
        "wires": []
    },
    {
        "id": "455fe821.076c68",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "return",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 533,
        "y": 521,
        "wires": []
    },
    {
        "id": "cd18fc4f.b993",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "Downloaded?",
        "func": "if(msg.payload!=\"No files downloaded\\n\"){\nreturn [msg,null];\n}\nelse{\nreturn [null,msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 560,
        "y": 560,
        "wires": [
            [
                "bb68f674.424058"
            ],
            [
                "b729305d.84622",
                "f6d35dc7.457aa",
                "5110fbeb.a9d1c4"
            ]
        ]
    },
    {
        "id": "b729305d.84622",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "5b3d2981.b0c5e8",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "Verzeichnis definieren HRD",
        "func": "msg.path=\"/mnt/backup/Anlagen/hrd/tmp/\"\nmsg.table=\"hrdtmp\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 979,
        "wires": [
            [
                "d7e8e41f.761648"
            ]
        ]
    },
    {
        "id": "bb68f674.424058",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "JA",
        "func": "var txt = msg.payload;\ndelete msg.payload;\nmsg.payload = {};\nmsg.payload.descr = txt;\nmsg.payload.status=\"OK\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "4b5d48e3.950a38",
                "507b6936.021108",
                "9d0021cf.dd84a"
            ]
        ]
    },
    {
        "id": "f6d35dc7.457aa",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "NEIN",
        "func": "var txt = msg.payload;\ndelete msg.payload;\nmsg.payload = {};\nmsg.payload.descr = txt;\nmsg.payload.status=\"ERROR!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "9e23fb8c.3553b8",
                "9d0021cf.dd84a"
            ]
        ]
    },
    {
        "id": "1711f8f4.379597",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "stdout",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "4e4bde2d.c6c36",
        "type": "exec",
        "z": "f26a56d3.358178",
        "command": "bash /usr/backup/zhr/run.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "1711f8f4.379597",
                "c58c8a4e.521148"
            ],
            [
                "ad93a358.61b15"
            ],
            [
                "a1c7e3a1.dcf14"
            ]
        ]
    },
    {
        "id": "5f588a57.ee0bd4",
        "type": "inject",
        "z": "f26a56d3.358178",
        "name": "ZHR",
        "repeat": "",
        "crontab": "00 02 * * *",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "4134b8b1.0b39d8"
            ]
        ]
    },
    {
        "id": "ad93a358.61b15",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "stderr",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 118,
        "wires": []
    },
    {
        "id": "a1c7e3a1.dcf14",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "return",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 533,
        "y": 161,
        "wires": []
    },
    {
        "id": "c58c8a4e.521148",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "Downloaded?",
        "func": "if(msg.payload!=\"No files downloaded\\n\"){\nreturn [msg,null];\n}\nelse{\nreturn [null,msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "cf2b813b.a5e62"
            ],
            [
                "e62541ef.34d52",
                "43af618d.3655e",
                "c89527c8.6d32a8"
            ]
        ]
    },
    {
        "id": "cf2b813b.a5e62",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "JA",
        "func": "var txt = msg.payload;\ndelete msg.payload;\nmsg.payload = {};\nmsg.payload.descr = txt;\nmsg.payload.status = \"OK\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "2776dc4f.ad18d4",
                "2024fc4.f730c04",
                "fc19f71d.cbca78"
            ]
        ]
    },
    {
        "id": "e62541ef.34d52",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "NEIN",
        "func": "var txt = msg.payload;\ndelete msg.payload;\nmsg.payload = {};\nmsg.payload.descr = txt;\nmsg.payload.status=\"ERROR!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 220,
        "wires": [
            [
                "f88ffce4.f21c2",
                "fc19f71d.cbca78"
            ]
        ]
    },
    {
        "id": "2776dc4f.ad18d4",
        "type": "link out",
        "z": "f26a56d3.358178",
        "name": "Logging",
        "links": [
            "fac9c5f1.5863d8"
        ],
        "x": 815,
        "y": 140,
        "wires": []
    },
    {
        "id": "ad14dfcc.52ee9",
        "type": "link out",
        "z": "f26a56d3.358178",
        "name": "Logging",
        "links": [
            "2010a6ee.49084a"
        ],
        "x": 975,
        "y": 200,
        "wires": []
    },
    {
        "id": "4b5d48e3.950a38",
        "type": "link out",
        "z": "f26a56d3.358178",
        "name": "Logging",
        "links": [
            "48acaa77.57ec34"
        ],
        "x": 815,
        "y": 500,
        "wires": []
    },
    {
        "id": "2010a6ee.49084a",
        "type": "link in",
        "z": "f26a56d3.358178",
        "name": "Logging",
        "links": [
            "ad14dfcc.52ee9",
            "ef0f0b8d.1785f8",
            "bc4dc8d.09dd638",
            "412972d9.4aa13c"
        ],
        "x": 935,
        "y": 460,
        "wires": [
            [
                "57cbef5f.74d7d"
            ]
        ]
    },
    {
        "id": "fac9c5f1.5863d8",
        "type": "link in",
        "z": "f26a56d3.358178",
        "name": "ZHR Start",
        "links": [
            "2776dc4f.ad18d4"
        ],
        "x": 50,
        "y": 936,
        "wires": [
            []
        ]
    },
    {
        "id": "48acaa77.57ec34",
        "type": "link in",
        "z": "f26a56d3.358178",
        "name": "HRD Start",
        "links": [
            "4b5d48e3.950a38"
        ],
        "x": 53,
        "y": 994,
        "wires": [
            []
        ]
    },
    {
        "id": "880c0752.e1f3c8",
        "type": "inject",
        "z": "f26a56d3.358178",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "555cfd8.dded204"
            ]
        ]
    },
    {
        "id": "43af618d.3655e",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "5851eb8c.76c194",
        "type": "join",
        "z": "f26a56d3.358178",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "20",
        "count": "",
        "x": 1050,
        "y": 1080,
        "wires": [
            [
                "97dab9cb.f89a08"
            ]
        ]
    },
    {
        "id": "97dab9cb.f89a08",
        "type": "debug",
        "z": "f26a56d3.358178",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1210,
        "y": 1080,
        "wires": []
    },
    {
        "id": "dc83fca5.348e8",
        "type": "delay",
        "z": "f26a56d3.358178",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 890,
        "y": 940,
        "wires": [
            [
                "108287bd.2e6808"
            ]
        ]
    },
    {
        "id": "2f0e4dd6.90c4c2",
        "type": "inject",
        "z": "f26a56d3.358178",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "5b3d2981.b0c5e8"
            ]
        ]
    },
    {
        "id": "ef0f0b8d.1785f8",
        "type": "link out",
        "z": "f26a56d3.358178",
        "name": "Logging",
        "links": [
            "2010a6ee.49084a"
        ],
        "x": 375,
        "y": 60,
        "wires": []
    },
    {
        "id": "66a96a36.ff54b4",
        "type": "change",
        "z": "f26a56d3.358178",
        "name": "Logtext",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "ZHR Logfile Download Start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.device",
                "pt": "msg",
                "to": "zhr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "ef0f0b8d.1785f8"
            ]
        ]
    },
    {
        "id": "2024fc4.f730c04",
        "type": "change",
        "z": "f26a56d3.358178",
        "name": "Logtext",
        "rules": [
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "ZHR Logfile Download End",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.device",
                "pt": "msg",
                "to": "zhr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 180,
        "wires": [
            [
                "ad14dfcc.52ee9"
            ]
        ]
    },
    {
        "id": "f88ffce4.f21c2",
        "type": "change",
        "z": "f26a56d3.358178",
        "name": "Logtext",
        "rules": [
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "ZHR Logfile Download End",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.device",
                "pt": "msg",
                "to": "zhr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 220,
        "wires": [
            [
                "ad14dfcc.52ee9"
            ]
        ]
    },
    {
        "id": "507b6936.021108",
        "type": "change",
        "z": "f26a56d3.358178",
        "name": "Logtext",
        "rules": [
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "HRD Logfile Download End",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.device",
                "pt": "msg",
                "to": "hrd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 540,
        "wires": [
            [
                "bc4dc8d.09dd638"
            ]
        ]
    },
    {
        "id": "9e23fb8c.3553b8",
        "type": "change",
        "z": "f26a56d3.358178",
        "name": "Logtext",
        "rules": [
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "HRD Logfile Download End",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.device",
                "pt": "msg",
                "to": "hrd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 580,
        "wires": [
            [
                "bc4dc8d.09dd638"
            ]
        ]
    },
    {
        "id": "bc4dc8d.09dd638",
        "type": "link out",
        "z": "f26a56d3.358178",
        "name": "Logging",
        "links": [
            "2010a6ee.49084a"
        ],
        "x": 975,
        "y": 560,
        "wires": []
    },
    {
        "id": "d51c4395.06ee4",
        "type": "change",
        "z": "f26a56d3.358178",
        "name": "Logtext",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "HRD Logfile Download Start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.device",
                "pt": "msg",
                "to": "hrd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "412972d9.4aa13c"
            ]
        ]
    },
    {
        "id": "412972d9.4aa13c",
        "type": "link out",
        "z": "f26a56d3.358178",
        "name": "Logging",
        "links": [
            "2010a6ee.49084a"
        ],
        "x": 375,
        "y": 420,
        "wires": []
    },
    {
        "id": "41e998dd.b5f608",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "running",
        "func": "delete msg.payload;\nmsg.payload = {};\nmsg.payload.status=\"running\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "9d0021cf.dd84a"
            ]
        ]
    },
    {
        "id": "73f53cd1.a1ba44",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "running",
        "func": "delete msg.payload;\nmsg.payload = {};\nmsg.payload.status=\"running\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "fc19f71d.cbca78"
            ]
        ]
    },
    {
        "id": "c89527c8.6d32a8",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"ZHR Download failed!\";\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "72669443.899c9c"
            ]
        ]
    },
    {
        "id": "72669443.899c9c",
        "type": "link out",
        "z": "f26a56d3.358178",
        "name": "",
        "links": [
            "b910dccd.a9034"
        ],
        "x": 855,
        "y": 300,
        "wires": []
    },
    {
        "id": "5110fbeb.a9d1c4",
        "type": "function",
        "z": "f26a56d3.358178",
        "name": "",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"HRD Download failed!\";\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 660,
        "wires": [
            [
                "2a4dff2a.64e23"
            ]
        ]
    },
    {
        "id": "2a4dff2a.64e23",
        "type": "link out",
        "z": "f26a56d3.358178",
        "name": "",
        "links": [
            "b910dccd.a9034"
        ],
        "x": 855,
        "y": 660,
        "wires": []
    },
    {
        "id": "4134b8b1.0b39d8",
        "type": "ui_button",
        "z": "f26a56d3.358178",
        "name": "manual",
        "group": "934340fe.2a519",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backup",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "4e4bde2d.c6c36",
                "66a96a36.ff54b4",
                "a571243.acd0dd8",
                "73f53cd1.a1ba44"
            ]
        ]
    },
    {
        "id": "8c51488f.3d7a48",
        "type": "ui_button",
        "z": "f26a56d3.358178",
        "name": "manual",
        "group": "806d2a50.bd3228",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backup",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "a14dd1d4.c1b8e",
                "d51c4395.06ee4",
                "81870d40.20b28",
                "41e998dd.b5f608"
            ]
        ]
    },
    {
        "id": "4acb4e53.6b6d1",
        "type": "ui_text",
        "z": "f26a56d3.358178",
        "group": "934340fe.2a519",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last Run",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 540,
        "y": 20,
        "wires": []
    },
    {
        "id": "29ae02e8.dabaee",
        "type": "ui_text",
        "z": "f26a56d3.358178",
        "group": "806d2a50.bd3228",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last Run",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "fc19f71d.cbca78",
        "type": "ui_text",
        "z": "f26a56d3.358178",
        "group": "934340fe.2a519",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 80,
        "wires": []
    },
    {
        "id": "9d0021cf.dd84a",
        "type": "ui_text",
        "z": "f26a56d3.358178",
        "group": "806d2a50.bd3228",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "b4a1a679.e598f8",
        "type": "moment",
        "z": "f26a56d3.358178",
        "name": "Kommt Datum formatieren",
        "topic": "",
        "input": "payload.col2",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "de_CH",
        "output": "payload.col2",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 940,
        "y": 980,
        "wires": [
            [
                "a2762970.95f018"
            ]
        ]
    },
    {
        "id": "a2762970.95f018",
        "type": "moment",
        "z": "f26a56d3.358178",
        "name": "Geht Datum formatieren",
        "topic": "",
        "input": "payload.col3",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "de_CH",
        "output": "payload.col3",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 1190,
        "y": 980,
        "wires": [
            [
                "5851eb8c.76c194"
            ]
        ]
    },
    {
        "id": "57cbef5f.74d7d",
        "type": "moment",
        "z": "f26a56d3.358178",
        "name": "",
        "topic": "",
        "input": "payload.date",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "de_CH",
        "output": "payload.date",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 1080,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a571243.acd0dd8",
        "type": "moment",
        "z": "f26a56d3.358178",
        "name": "Datetime Human",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm:ss",
        "locale": "de_CH",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 290,
        "y": 20,
        "wires": [
            [
                "4acb4e53.6b6d1"
            ]
        ]
    },
    {
        "id": "81870d40.20b28",
        "type": "moment",
        "z": "f26a56d3.358178",
        "name": "Datetime Human",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm:ss",
        "locale": "de_CH",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "29ae02e8.dabaee"
            ]
        ]
    },
    {
        "id": "3c4e30b0.06e65",
        "type": "fullsplitter",
        "z": "f26a56d3.358178",
        "name": "Loope über Files",
        "property": "files",
        "x": 730,
        "y": 940,
        "wires": [
            [
                "dc83fca5.348e8"
            ],
            []
        ]
    },
    {
        "id": "d7e8e41f.761648",
        "type": "fs-ops-dir",
        "z": "f26a56d3.358178",
        "name": "Verzeichnis Inhalt auflisten",
        "path": "path",
        "pathType": "msg",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 500,
        "y": 940,
        "wires": [
            [
                "3c4e30b0.06e65"
            ]
        ]
    },
    {
        "id": "3fd2531e.af570c",
        "type": "inject",
        "z": "d589de7d.564f7",
        "name": "Täglich",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "77eff48.cd90e0c",
                "e49241b7.25ac4"
            ]
        ]
    },
    {
        "id": "e9e19fa5.ebb2f",
        "type": "exec",
        "z": "d589de7d.564f7",
        "command": "bash /usr/backup/mysql/dump.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 620,
        "y": 180,
        "wires": [
            [
                "6d20c46.b0cdf3c"
            ],
            [
                "5b16077a.b7d518",
                "bdb0cad2.9c6758"
            ],
            []
        ]
    },
    {
        "id": "5b16077a.b7d518",
        "type": "function",
        "z": "d589de7d.564f7",
        "name": "ERROR",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"ERROR!\"\n    return msg;   \n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 200,
        "wires": [
            [
                "9fc4242f.a58fa8"
            ]
        ]
    },
    {
        "id": "6d20c46.b0cdf3c",
        "type": "function",
        "z": "d589de7d.564f7",
        "name": "OK",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"OK\"\n    return msg;   \n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 160,
        "wires": [
            [
                "9fc4242f.a58fa8",
                "29725682ace8709e"
            ]
        ]
    },
    {
        "id": "77eff48.cd90e0c",
        "type": "function",
        "z": "d589de7d.564f7",
        "name": "Set Params",
        "func": "msg.host=\"admintool\"\nmsg.db=\"innoCRM_DEV\"\nmsg.payload=msg.host+\" \"+msg.db\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "e9e19fa5.ebb2f",
                "494f041e.067f6c"
            ]
        ]
    },
    {
        "id": "9fc4242f.a58fa8",
        "type": "change",
        "z": "d589de7d.564f7",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 180,
        "wires": [
            [
                "bca45e90.df34d"
            ]
        ]
    },
    {
        "id": "494f041e.067f6c",
        "type": "change",
        "z": "d589de7d.564f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "bca45e90.df34d",
                "a0577cd.319f18"
            ]
        ]
    },
    {
        "id": "895b6113.5a866",
        "type": "comment",
        "z": "d589de7d.564f7",
        "name": "admintool.head.innolutions.ch / innoCRM_DEV",
        "info": "",
        "x": 333,
        "y": 90,
        "wires": []
    },
    {
        "id": "bdb0cad2.9c6758",
        "type": "function",
        "z": "d589de7d.564f7",
        "name": "",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"MySQLDump admintool/innoCRM_DEV failed!\";\nreturn msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 60,
        "wires": [
            [
                "f4dd89ff.ae39f8"
            ]
        ]
    },
    {
        "id": "f4dd89ff.ae39f8",
        "type": "link out",
        "z": "d589de7d.564f7",
        "name": "",
        "links": [
            "b910dccd.a9034"
        ],
        "x": 995,
        "y": 120,
        "wires": []
    },
    {
        "id": "2b4ca090.6fb0b",
        "type": "ui_button",
        "z": "d589de7d.564f7",
        "name": "manual",
        "group": "4cf7eba9.d68bd4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backup",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "77eff48.cd90e0c",
                "e49241b7.25ac4"
            ]
        ]
    },
    {
        "id": "bca45e90.df34d",
        "type": "ui_text",
        "z": "d589de7d.564f7",
        "group": "4cf7eba9.d68bd4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1210,
        "y": 240,
        "wires": []
    },
    {
        "id": "a3ebd789.bbf9f8",
        "type": "ui_text",
        "z": "d589de7d.564f7",
        "group": "4cf7eba9.d68bd4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Run",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1220,
        "y": 280,
        "wires": []
    },
    {
        "id": "a0577cd.319f18",
        "type": "ui_text",
        "z": "d589de7d.564f7",
        "group": "4cf7eba9.d68bd4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Host / DB",
        "format": "{{msg.host}}/{{msg.db}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "e49241b7.25ac4",
        "type": "moment",
        "z": "d589de7d.564f7",
        "name": "Datetime Human",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm:ss",
        "locale": "de_CH",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "a3ebd789.bbf9f8"
            ]
        ]
    },
    {
        "id": "29725682ace8709e",
        "type": "function",
        "z": "d589de7d.564f7",
        "name": "",
        "func": "msg.topic=\"MySQLDump admintool/innoCRM_DEV ok!\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 831,
        "y": 96,
        "wires": [
            [
                "f4dd89ff.ae39f8"
            ]
        ]
    },
    {
        "id": "695623d6.8c58ec",
        "type": "exec",
        "z": "975e98f6.cb0d18",
        "command": "bash /usr/backup/webinterface/backupFTParchive.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 397,
        "y": 134,
        "wires": [
            [
                "cae28aac.618248"
            ],
            [
                "1a4504c6.fb1bcb",
                "1b78f795.9efc88"
            ],
            []
        ]
    },
    {
        "id": "1a4504c6.fb1bcb",
        "type": "function",
        "z": "975e98f6.cb0d18",
        "name": "",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"Webinterface Backup Fail\"\nreturn msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "29116e6f.544842"
            ]
        ]
    },
    {
        "id": "cae28aac.618248",
        "type": "function",
        "z": "975e98f6.cb0d18",
        "name": "OK",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"OK\"\n    return msg;   \n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "54e9caac.3bace4",
                "8732ed9c.5efe3",
                "b4df6e1f8728a6c1"
            ]
        ]
    },
    {
        "id": "1b78f795.9efc88",
        "type": "function",
        "z": "975e98f6.cb0d18",
        "name": "ERROR",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"ERROR!\"\n    return msg;   \n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "8732ed9c.5efe3"
            ]
        ]
    },
    {
        "id": "ee193824.6fbc58",
        "type": "change",
        "z": "975e98f6.cb0d18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 704,
        "y": 195,
        "wires": [
            [
                "d751ab0e.480aa8"
            ]
        ]
    },
    {
        "id": "10d3e335.cfc30d",
        "type": "inject",
        "z": "975e98f6.cb0d18",
        "name": "Täglich",
        "repeat": "",
        "crontab": "30 03 * * *",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "d783fe74.fc33d"
            ]
        ]
    },
    {
        "id": "b910dccd.a9034",
        "type": "link in",
        "z": "975e98f6.cb0d18",
        "name": "E-Mail to it-notifications.ch",
        "links": [
            "29116e6f.544842",
            "2a4dff2a.64e23",
            "72669443.899c9c",
            "c331bbcb.876f18",
            "ed304250.a0d648",
            "f4dd89ff.ae39f8",
            "79348d6c5ef69f40"
        ],
        "x": 780,
        "y": 60,
        "wires": [
            [
                "40207520.32490c"
            ]
        ]
    },
    {
        "id": "29116e6f.544842",
        "type": "link out",
        "z": "975e98f6.cb0d18",
        "name": "",
        "links": [
            "b910dccd.a9034"
        ],
        "x": 815,
        "y": 320,
        "wires": []
    },
    {
        "id": "bafaa2e1.a94558",
        "type": "exec",
        "z": "975e98f6.cb0d18",
        "command": "bash /usr/backup/smsrouter/getBackups.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 386,
        "y": 712,
        "wires": [
            [
                "8fc074e.2592208"
            ],
            [
                "b566a2f1.7840a",
                "ca41484b.1e0bb"
            ],
            []
        ]
    },
    {
        "id": "b566a2f1.7840a",
        "type": "function",
        "z": "975e98f6.cb0d18",
        "name": "",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"SMSRouter DB Backup Fail\"\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 668,
        "y": 557,
        "wires": [
            [
                "ed304250.a0d648"
            ]
        ]
    },
    {
        "id": "8fc074e.2592208",
        "type": "function",
        "z": "975e98f6.cb0d18",
        "name": "OK",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"OK\"\n    return msg;   \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 665,
        "y": 475,
        "wires": [
            [
                "ead0859e.e25b3"
            ]
        ]
    },
    {
        "id": "ca41484b.1e0bb",
        "type": "function",
        "z": "975e98f6.cb0d18",
        "name": "ERROR",
        "func": "if(msg.payload!=\"\"){\n    msg.topic=\"ERROR!\"\n    return msg;   \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 675,
        "y": 517,
        "wires": [
            [
                "ead0859e.e25b3"
            ]
        ]
    },
    {
        "id": "ead0859e.e25b3",
        "type": "change",
        "z": "975e98f6.cb0d18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 855,
        "y": 495,
        "wires": [
            [
                "5f357c1.03b1204"
            ]
        ]
    },
    {
        "id": "a26bb328.83ed1",
        "type": "change",
        "z": "975e98f6.cb0d18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 695,
        "y": 435,
        "wires": [
            [
                "5f357c1.03b1204"
            ]
        ]
    },
    {
        "id": "7b9ca52c.1f47bc",
        "type": "inject",
        "z": "975e98f6.cb0d18",
        "name": "Täglich",
        "repeat": "",
        "crontab": "30 03 * * *",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 435,
        "wires": [
            [
                "3e3087cd.ac0ea8"
            ]
        ]
    },
    {
        "id": "ed304250.a0d648",
        "type": "link out",
        "z": "975e98f6.cb0d18",
        "name": "",
        "links": [
            "b910dccd.a9034"
        ],
        "x": 790,
        "y": 555,
        "wires": []
    },
    {
        "id": "54e9caac.3bace4",
        "type": "debug",
        "z": "975e98f6.cb0d18",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 859,
        "y": 105,
        "wires": []
    },
    {
        "id": "8732ed9c.5efe3",
        "type": "change",
        "z": "975e98f6.cb0d18",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 260,
        "wires": [
            [
                "d751ab0e.480aa8"
            ]
        ]
    },
    {
        "id": "40207520.32490c",
        "type": "e-mail",
        "z": "975e98f6.cb0d18",
        "server": "asmtp.mail.hostpoint.ch",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "it-notifications@innolutions.ch",
        "dname": "",
        "x": 1070,
        "y": 60,
        "wires": []
    },
    {
        "id": "d783fe74.fc33d",
        "type": "ui_button",
        "z": "975e98f6.cb0d18",
        "name": "manual",
        "group": "de88de4b.ae663",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backup",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "6bb0f7f6.2dab68",
                "695623d6.8c58ec",
                "ee193824.6fbc58"
            ]
        ]
    },
    {
        "id": "3e3087cd.ac0ea8",
        "type": "ui_button",
        "z": "975e98f6.cb0d18",
        "name": "manual",
        "group": "1ec63994.514506",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backup",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 95,
        "y": 595,
        "wires": [
            [
                "6fee1751.1ac668",
                "bafaa2e1.a94558",
                "a26bb328.83ed1"
            ]
        ]
    },
    {
        "id": "d751ab0e.480aa8",
        "type": "ui_text",
        "z": "975e98f6.cb0d18",
        "group": "de88de4b.ae663",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1090,
        "y": 260,
        "wires": []
    },
    {
        "id": "4d4578af.74cc88",
        "type": "ui_text",
        "z": "975e98f6.cb0d18",
        "group": "de88de4b.ae663",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last Run",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "5f357c1.03b1204",
        "type": "ui_text",
        "z": "975e98f6.cb0d18",
        "group": "1ec63994.514506",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1085,
        "y": 495,
        "wires": []
    },
    {
        "id": "55ff6031.721158",
        "type": "ui_text",
        "z": "975e98f6.cb0d18",
        "group": "1ec63994.514506",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last Run",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1095,
        "y": 595,
        "wires": []
    },
    {
        "id": "6bb0f7f6.2dab68",
        "type": "moment",
        "z": "975e98f6.cb0d18",
        "name": "Datetime Human",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm:ss",
        "locale": "de_CH",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "4d4578af.74cc88"
            ]
        ]
    },
    {
        "id": "6fee1751.1ac668",
        "type": "moment",
        "z": "975e98f6.cb0d18",
        "name": "Datetime Human",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm:ss",
        "locale": "de_CH",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 705,
        "y": 595,
        "wires": [
            [
                "55ff6031.721158"
            ]
        ]
    },
    {
        "id": "b4df6e1f8728a6c1",
        "type": "function",
        "z": "975e98f6.cb0d18",
        "name": "",
        "func": "msg.topic=\"Webinterface Backup ok!\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "29116e6f.544842"
            ]
        ]
    },
    {
        "id": "d11abc9d.9138b",
        "type": "inject",
        "z": "e7f51916.854388",
        "name": "",
        "repeat": "900",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "1fecb1d3.bce40e",
                "6ad1fd88.267b94",
                "889b2c6.6fe7dd"
            ]
        ]
    },
    {
        "id": "34a8db56.ab3a84",
        "type": "function",
        "z": "e7f51916.854388",
        "name": "RAM",
        "func": "msg.val=msg.payload.memusage\ndelete msg.payload;\nmsg.payload=Math.round(msg.val)\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 300,
        "wires": [
            [
                "6110fefc.99b66",
                "d746b80.59b9348"
            ]
        ]
    },
    {
        "id": "656bafba.95714",
        "type": "ui_text",
        "z": "e7f51916.854388",
        "group": "c7b25243.f0753",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload.humanized}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "1a944a95.0ec2b5",
        "type": "ui_gauge",
        "z": "e7f51916.854388",
        "name": "Grafik Speicher backup01",
        "group": "ffe046ba.db96b8",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "backup01",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 100,
        "wires": []
    },
    {
        "id": "f16be9f5.fdbe28",
        "type": "ui_gauge",
        "z": "e7f51916.854388",
        "name": "Grafik Speicher dev/vda1",
        "group": "ffe046ba.db96b8",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "dev/vda1",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "6110fefc.99b66",
        "type": "ui_gauge",
        "z": "e7f51916.854388",
        "name": "",
        "group": "c7b25243.f0753",
        "order": 3,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "RAM",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 956,
        "y": 303,
        "wires": []
    },
    {
        "id": "d746b80.59b9348",
        "type": "ui_chart",
        "z": "e7f51916.854388",
        "name": "",
        "group": "c7b25243.f0753",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "RAM (1h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 969.1666870117188,
        "y": 343,
        "wires": [
            []
        ]
    },
    {
        "id": "630244a6.951b4c",
        "type": "humanizer",
        "z": "e7f51916.854388",
        "name": "",
        "input": "uptime",
        "x": 710,
        "y": 240,
        "wires": [
            [
                "656bafba.95714"
            ]
        ]
    },
    {
        "id": "1fecb1d3.bce40e",
        "type": "Drives",
        "z": "e7f51916.854388",
        "name": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "f55d7755c01ccfe2"
            ]
        ]
    },
    {
        "id": "6ad1fd88.267b94",
        "type": "Uptime",
        "z": "e7f51916.854388",
        "name": "",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "e6912cf336342565"
            ]
        ]
    },
    {
        "id": "889b2c6.6fe7dd",
        "type": "Memory",
        "z": "e7f51916.854388",
        "name": "",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "34a8db56.ab3a84"
            ]
        ]
    },
    {
        "id": "e6912cf336342565",
        "type": "function",
        "z": "e7f51916.854388",
        "name": "function 1",
        "func": "var a = msg.payload.uptime;\nmsg.payload.uptime = Math.floor(a);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "630244a6.951b4c"
            ]
        ]
    },
    {
        "id": "f55d7755c01ccfe2",
        "type": "split",
        "z": "e7f51916.854388",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 530,
        "y": 120,
        "wires": [
            [
                "86400bf15ea2004b",
                "2e0a7fc40d657eec"
            ]
        ]
    },
    {
        "id": "86400bf15ea2004b",
        "type": "function",
        "z": "e7f51916.854388",
        "name": "used von backup01:/volume1/backup",
        "func": "if(msg.payload.filesystem==\"backup01:/volume1/backup\"){\n    var gauge = Math.round(((msg.payload.used / msg.payload.size)*100));\n    var used = (msg.payload.used/1000000000).toFixed(2)\n    var size = (msg.payload.size/1000000000).toFixed(2)\n    msg.text = ''+used+'/'+size+' TB'\n    msg.payload = gauge\nreturn msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 100,
        "wires": [
            [
                "1a944a95.0ec2b5",
                "fb530b41e6b075e7"
            ]
        ]
    },
    {
        "id": "2e0a7fc40d657eec",
        "type": "function",
        "z": "e7f51916.854388",
        "name": "used von /dev/vda1",
        "func": "if(msg.payload.filesystem==\"/dev/vda1\"){\n    var gauge = Math.round(((msg.payload.used / msg.payload.size)*100));\n    var used = (msg.payload.used/1000000).toFixed(2)\n    var size = (msg.payload.size/1000000).toFixed(2)\n    msg.text = ''+used+'/'+size+' TB'\n    msg.payload = gauge\nreturn msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 140,
        "wires": [
            [
                "f16be9f5.fdbe28",
                "1b1b6a9ccf420569"
            ]
        ]
    },
    {
        "id": "70910aa2a5625890",
        "type": "ui_text",
        "z": "e7f51916.854388",
        "group": "ffe046ba.db96b8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Speicher dev1",
        "label": "Speicher",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1320,
        "y": 180,
        "wires": []
    },
    {
        "id": "1b1b6a9ccf420569",
        "type": "change",
        "z": "e7f51916.854388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "70910aa2a5625890"
            ]
        ]
    },
    {
        "id": "fb530b41e6b075e7",
        "type": "change",
        "z": "e7f51916.854388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 60,
        "wires": [
            [
                "a70c096cccb1e09e"
            ]
        ]
    },
    {
        "id": "a70c096cccb1e09e",
        "type": "ui_text",
        "z": "e7f51916.854388",
        "group": "ffe046ba.db96b8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Speicher backup",
        "label": "Speicher",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1330,
        "y": 60,
        "wires": []
    },
    {
        "id": "e3b4b75a.1b23c8",
        "type": "debug",
        "z": "a1b88efc.9c36",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 741,
        "y": 140,
        "wires": []
    },
    {
        "id": "77ddc84a.a15af8",
        "type": "inject",
        "z": "a1b88efc.9c36",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "483d770.25ddf88"
            ]
        ]
    },
    {
        "id": "da4cb99a.a73088",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.battery.charge.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "29381c3f.7806f4"
            ]
        ]
    },
    {
        "id": "b3209a6b.bbc2e8",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.battery.capacity.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "f38b898f.9e8a08"
            ]
        ]
    },
    {
        "id": "854b7b6f.d5c408",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.voltage.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 500,
        "wires": [
            [
                "76bf8d9b.90b754"
            ]
        ]
    },
    {
        "id": "63205c6.c085ea4",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.frequency.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "619a5725.7c15b8"
            ]
        ]
    },
    {
        "id": "441ebd44.c36534",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.current.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 580,
        "wires": [
            [
                "431ffe4.7bb58"
            ]
        ]
    },
    {
        "id": "52c752f9.1af54c",
        "type": "switch",
        "z": "a1b88efc.9c36",
        "name": "",
        "property": "payload.ups.status.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OL CHRG",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OB DISCHRG",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "59d1cc63.81a624"
            ],
            [
                "323b5fcc.4cf9b",
                "29c004d7.2a28ac",
                "1e535c46.863014"
            ]
        ]
    },
    {
        "id": "59d1cc63.81a624",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 680,
        "wires": [
            [
                "f6b1ddaa.fe748"
            ]
        ]
    },
    {
        "id": "323b5fcc.4cf9b",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ausfall!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 720,
        "wires": [
            [
                "f6b1ddaa.fe748"
            ]
        ]
    },
    {
        "id": "29c004d7.2a28ac",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm!! Stromausfall im Altbau!!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Stromausfall",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 760,
        "wires": [
            [
                "1ecd1625.a6eada",
                "f6cbf1a5.50f79"
            ]
        ]
    },
    {
        "id": "f6cbf1a5.50f79",
        "type": "delay",
        "z": "a1b88efc.9c36",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 970,
        "y": 820,
        "wires": [
            [
                "3a8608e4.be0198",
                "f719cd37.cd765",
                "c331bbcb.876f18"
            ]
        ]
    },
    {
        "id": "3a8608e4.be0198",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "Show UPS page",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "USV",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 880,
        "wires": [
            [
                "82e8bfc4.73b2a"
            ]
        ]
    },
    {
        "id": "a6db82c6.2049d",
        "type": "function",
        "z": "a1b88efc.9c36",
        "name": "",
        "func": "context.global.ups = { neubau : msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d2bdf2af.32f89",
        "type": "link out",
        "z": "a1b88efc.9c36",
        "name": "",
        "links": [],
        "x": 1115,
        "y": 940,
        "wires": []
    },
    {
        "id": "171c07a5.318fa8",
        "type": "change",
        "z": "a1b88efc.9c36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "ALARM! Stromausfall im Altbau!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "313174945",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 940,
        "wires": [
            [
                "d2bdf2af.32f89"
            ]
        ]
    },
    {
        "id": "1e535c46.863014",
        "type": "delay",
        "z": "a1b88efc.9c36",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 750,
        "y": 940,
        "wires": [
            [
                "171c07a5.318fa8"
            ]
        ]
    },
    {
        "id": "c331bbcb.876f18",
        "type": "link out",
        "z": "a1b88efc.9c36",
        "name": "",
        "links": [
            "b910dccd.a9034"
        ],
        "x": 1149,
        "y": 827,
        "wires": []
    },
    {
        "id": "46165cd.d635ea4",
        "type": "comment",
        "z": "a1b88efc.9c36",
        "name": "Derzeit defekt: Error: Command failed: upsc eaton@192.168.1.21 Error: Connection failure: No route to host",
        "info": "",
        "x": 492,
        "y": 209,
        "wires": []
    },
    {
        "id": "f6b1ddaa.fe748",
        "type": "ui_text",
        "z": "a1b88efc.9c36",
        "group": "fa31b01.9254b5",
        "order": 0,
        "width": "3",
        "height": "3",
        "name": "",
        "label": "Netzspannung",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 980,
        "y": 720,
        "wires": []
    },
    {
        "id": "29381c3f.7806f4",
        "type": "ui_gauge",
        "z": "a1b88efc.9c36",
        "name": "",
        "group": "fa31b01.9254b5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Charge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 280,
        "wires": []
    },
    {
        "id": "f38b898f.9e8a08",
        "type": "ui_gauge",
        "z": "a1b88efc.9c36",
        "name": "",
        "group": "fa31b01.9254b5",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Capacity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "21",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "4",
        "seg2": "6",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 320,
        "wires": []
    },
    {
        "id": "76bf8d9b.90b754",
        "type": "ui_gauge",
        "z": "a1b88efc.9c36",
        "name": "",
        "group": "a8df75bf.aa4268",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "220",
        "seg2": "229",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 500,
        "wires": []
    },
    {
        "id": "619a5725.7c15b8",
        "type": "ui_gauge",
        "z": "a1b88efc.9c36",
        "name": "",
        "group": "a8df75bf.aa4268",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Frequency",
        "label": "Hz",
        "format": "{{value}}",
        "min": "40",
        "max": "60",
        "colors": [
            "#e6e600",
            "#00ff00",
            "#e6e600"
        ],
        "seg1": "48",
        "seg2": "52",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "431ffe4.7bb58",
        "type": "ui_gauge",
        "z": "a1b88efc.9c36",
        "name": "",
        "group": "a8df75bf.aa4268",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "20",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "1ecd1625.a6eada",
        "type": "ui_audio",
        "z": "a1b88efc.9c36",
        "name": "Ansage",
        "group": "fa31b01.9254b5",
        "voice": "de-DE",
        "always": true,
        "x": 960,
        "y": 760,
        "wires": []
    },
    {
        "id": "f719cd37.cd765",
        "type": "ui_toast",
        "z": "a1b88efc.9c36",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1170,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "82e8bfc4.73b2a",
        "type": "ui_ui_control",
        "z": "a1b88efc.9c36",
        "name": "",
        "x": 1360,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "483d770.25ddf88",
        "type": "nut-ups",
        "z": "a1b88efc.9c36",
        "name": "EATON 5PX Altbau",
        "ups": "eaton@192.168.1.20",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "e3b4b75a.1b23c8",
                "da4cb99a.a73088",
                "b3209a6b.bbc2e8",
                "854b7b6f.d5c408",
                "63205c6.c085ea4",
                "52c752f9.1af54c",
                "a6db82c6.2049d"
            ]
        ]
    },
    {
        "id": "f6a325b7.0bf3a8",
        "type": "inject",
        "z": "eaa16b3b.2ab0b8",
        "name": "every sunday at 12:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * 0",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "89f0cd10210a19a0"
            ]
        ]
    },
    {
        "id": "167f6d89.330de2",
        "type": "exec",
        "z": "eaa16b3b.2ab0b8",
        "command": "certbot renew --dns-google --dns-google-credentials /root/.credentials/api-project-1060686518765-6326154de229.json",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "renew Certbot Wildcard certificate",
        "x": 540,
        "y": 60,
        "wires": [
            [
                "d00e28d954e63adf"
            ],
            [],
            [
                "bb081e11c22d0345"
            ]
        ]
    },
    {
        "id": "fc7e616.2a92ba",
        "type": "exec",
        "z": "eaa16b3b.2ab0b8",
        "command": "bash pushcerts-head.sh root@admintool.head.innolutions.ch",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Push cert to admintool.head.innolutions.ch  (pushcerts-head.sh)",
        "x": 650,
        "y": 440,
        "wires": [
            [],
            [],
            [
                "16a89e8f8780235e"
            ]
        ]
    },
    {
        "id": "bc0151eb.d593e",
        "type": "exec",
        "z": "eaa16b3b.2ab0b8",
        "command": "bash pushcertsproxmox-head.sh ",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Push cert to proxmox nodes (pushcertsproxmox-head.sh)",
        "x": 630,
        "y": 560,
        "wires": [
            [],
            [],
            [
                "f30cc2edb958522c"
            ]
        ]
    },
    {
        "id": "3ee4af4.14daf5",
        "type": "exec",
        "z": "eaa16b3b.2ab0b8",
        "command": "bash pushcerts-head.sh root@wiki.head.innolutions.ch",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Push cert to innowiki.head.innolutions.ch  (pushcerts-head.sh)",
        "x": 640,
        "y": 500,
        "wires": [
            [],
            [],
            [
                "b9cb80f6d7d35c0e"
            ]
        ]
    },
    {
        "id": "cc0e4651.3a5d38",
        "type": "exec",
        "z": "eaa16b3b.2ab0b8",
        "command": "bash pushcerts-head.sh root@datastore01.head.innolutions.ch",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Push cert to synology datastore01.head.innolutions.ch  (pushcerts-head.sh)",
        "x": 690,
        "y": 620,
        "wires": [
            [],
            [],
            [
                "61aed581a570760e"
            ]
        ]
    },
    {
        "id": "f2001861.8442e8",
        "type": "exec",
        "z": "eaa16b3b.2ab0b8",
        "command": "bash pushcerts-head.sh root@smsrouter.head.innolutions.ch",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Push cert to smsrouter.head.innolutions.ch (pushcerts-head.sh)",
        "x": 650,
        "y": 680,
        "wires": [
            [],
            [],
            [
                "d791fa47b697c769"
            ]
        ]
    },
    {
        "id": "61aed581a570760e",
        "type": "function",
        "z": "eaa16b3b.2ab0b8",
        "name": "function 2",
        "func": "var feedback = msg.payload.code;\nif (feedback==\"\") {\n    msg.payload=\"Alles ok\";\n} else {\n    msg.payload=\"Fehlercode: \"+feedback;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 620,
        "wires": [
            [
                "cb1af13ae4994649"
            ]
        ]
    },
    {
        "id": "cb1af13ae4994649",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Status Synology",
        "label": "Status Synology",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 620,
        "wires": []
    },
    {
        "id": "d791fa47b697c769",
        "type": "function",
        "z": "eaa16b3b.2ab0b8",
        "name": "function 3",
        "func": "var feedback = msg.payload.code;\nif (feedback==\"\") {\n    msg.payload=\"Alles ok\";\n} else {\n    msg.payload=\"Fehlercode: \"+feedback;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 680,
        "wires": [
            [
                "e63e89741cbc8264"
            ]
        ]
    },
    {
        "id": "e63e89741cbc8264",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Status Smsrouter",
        "label": "Status Smsrouter",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 680,
        "wires": []
    },
    {
        "id": "89f0cd10210a19a0",
        "type": "ui_button",
        "z": "eaa16b3b.2ab0b8",
        "name": "Jetzt aktualisieren",
        "group": "e2f66453c5a5b7ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Jetzt aktualisieren",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "de4c61b812ab7425",
                "25efae94e3d040e4",
                "ad6033ce4b445139",
                "f44acc79451d8a5d",
                "5581017513e91477"
            ]
        ]
    },
    {
        "id": "de4c61b812ab7425",
        "type": "delay",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "fc7e616.2a92ba",
                "6d4faed6e56a37f3",
                "1fa41c411f8e68fb"
            ]
        ]
    },
    {
        "id": "6d4faed6e56a37f3",
        "type": "delay",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "3b686e851ba0ac59",
                "3ee4af4.14daf5"
            ]
        ]
    },
    {
        "id": "3b686e851ba0ac59",
        "type": "delay",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "4767296aeb87ea44",
                "bc0151eb.d593e"
            ]
        ]
    },
    {
        "id": "4767296aeb87ea44",
        "type": "delay",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "cc0e4651.3a5d38",
                "c5c14e1f6690a3b2"
            ]
        ]
    },
    {
        "id": "c5c14e1f6690a3b2",
        "type": "delay",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "f2001861.8442e8",
                "763ff9c29be2f745"
            ]
        ]
    },
    {
        "id": "763ff9c29be2f745",
        "type": "delay",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 320,
        "wires": [
            [
                "207daf79b9d479fc",
                "e7d9cb30e841d43f"
            ]
        ]
    },
    {
        "id": "f30cc2edb958522c",
        "type": "function",
        "z": "eaa16b3b.2ab0b8",
        "name": "function 4",
        "func": "var feedback = msg.payload.code;\nif (feedback==\"\") {\n    msg.payload=\"Alles ok\";\n} else {\n    msg.payload=\"Fehlercode: \"+feedback;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 560,
        "wires": [
            [
                "93002c864236023f"
            ]
        ]
    },
    {
        "id": "93002c864236023f",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Status Proxmox",
        "label": "Status Proxmox",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 560,
        "wires": []
    },
    {
        "id": "b9cb80f6d7d35c0e",
        "type": "function",
        "z": "eaa16b3b.2ab0b8",
        "name": "function 5",
        "func": "var feedback = msg.payload.code;\nif (feedback==\"\") {\n    msg.payload=\"Alles ok\";\n} else {\n    msg.payload=\"Fehlercode: \"+feedback;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "849fb54ee93a0f0f"
            ]
        ]
    },
    {
        "id": "849fb54ee93a0f0f",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Status Innowiki",
        "label": "Status Innowiki",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 500,
        "wires": []
    },
    {
        "id": "16a89e8f8780235e",
        "type": "function",
        "z": "eaa16b3b.2ab0b8",
        "name": "function 6",
        "func": "var feedback = msg.payload.code;\nif (feedback==\"\") {\n    msg.payload=\"Alles ok\";\n} else {\n    msg.payload=\"Fehlercode: \"+feedback;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 440,
        "wires": [
            [
                "397c59ef435e391e"
            ]
        ]
    },
    {
        "id": "397c59ef435e391e",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Status Admintool",
        "label": "Status Admintool",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 440,
        "wires": []
    },
    {
        "id": "bb081e11c22d0345",
        "type": "function",
        "z": "eaa16b3b.2ab0b8",
        "name": "function 7",
        "func": "var feedback = msg.payload.code;\nif (feedback==\"\") {\n    msg.payload=\"Alles ok\";\n} else {\n    msg.payload=\"Fehlercode: \"+feedback;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 60,
        "wires": [
            [
                "0f92cd3d25a409a5"
            ]
        ]
    },
    {
        "id": "0f92cd3d25a409a5",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status Renew",
        "label": "Status Renew",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 100,
        "wires": []
    },
    {
        "id": "105f873cb66718f1",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Status Aktualisierung",
        "label": "Status Aktualisierung",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 260,
        "wires": []
    },
    {
        "id": "207daf79b9d479fc",
        "type": "change",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "abgeschlossen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "105f873cb66718f1"
            ]
        ]
    },
    {
        "id": "25efae94e3d040e4",
        "type": "change",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Update vom Server...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "105f873cb66718f1"
            ]
        ]
    },
    {
        "id": "d00e28d954e63adf",
        "type": "ui_template",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "name": "",
        "order": 12,
        "width": 6,
        "height": 6,
        "format": "<font size=\"1\">{{msg.payload}}</font>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ad6033ce4b445139",
        "type": "change",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "397c59ef435e391e",
                "849fb54ee93a0f0f",
                "93002c864236023f",
                "cb1af13ae4994649",
                "e63e89741cbc8264",
                "d00e28d954e63adf",
                "0f92cd3d25a409a5",
                "90c1be15302a418c"
            ]
        ]
    },
    {
        "id": "f44acc79451d8a5d",
        "type": "delay",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 20,
        "wires": [
            [
                "167f6d89.330de2"
            ]
        ]
    },
    {
        "id": "90c1be15302a418c",
        "type": "moment",
        "z": "eaa16b3b.2ab0b8",
        "name": "Datetime Human",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Zurich",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm:ss",
        "locale": "de_CH",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Zurich",
        "x": 470,
        "y": 760,
        "wires": [
            [
                "a811202fe89df6c3"
            ]
        ]
    },
    {
        "id": "a811202fe89df6c3",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Run",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1120,
        "y": 760,
        "wires": []
    },
    {
        "id": "e7d9cb30e841d43f",
        "type": "change",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 800,
        "wires": [
            [
                "90c1be15302a418c"
            ]
        ]
    },
    {
        "id": "1fa41c411f8e68fb",
        "type": "change",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Zertifikate verteilen...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "105f873cb66718f1",
                "c583618575133cbb"
            ]
        ]
    },
    {
        "id": "5581017513e91477",
        "type": "countdowner",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "60",
        "resetWhileRunning": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": false,
        "minuteCounter": false,
        "showCleanTimer": true,
        "x": 150,
        "y": 400,
        "wires": [
            [],
            [
                "a5868c12bcf3339f"
            ]
        ]
    },
    {
        "id": "a5868c12bcf3339f",
        "type": "ui_text",
        "z": "eaa16b3b.2ab0b8",
        "group": "e2f66453c5a5b7ec",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Status Countdown",
        "label": "Countdown",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 140,
        "wires": []
    },
    {
        "id": "c583618575133cbb",
        "type": "change",
        "z": "eaa16b3b.2ab0b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "5581017513e91477"
            ]
        ]
    },
    {
        "id": "c1f3f3ab08f5839c",
        "type": "mysql",
        "z": "b7e2dbf3f8a0d2d1",
        "mydb": "19ca401d8e6b23b0",
        "name": "",
        "x": 710,
        "y": 140,
        "wires": [
            [
                "7b6b24d0a9c74b33",
                "48aa2881f89baca4"
            ]
        ]
    },
    {
        "id": "c1b2a8d9c0f1a111",
        "type": "inject",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Run every minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 2,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "817a7a44256d86fb"
            ]
        ]
    },
    {
        "id": "d8b08f1f2d0c9f21",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Prepare SELECT last bin (sensor/res=5)",
        "func": "msg.xovis = msg.payload;              // Target-Objekt vom Split\nmsg.sensor_id = msg.xovis.sensor_id;\nmsg.sensor_name = msg.xovis.sensor_name;\nmsg.resolution_min = 1;               // oder 5\n\nmsg.topic = \"SELECT MAX(bin_begin_utc) AS last_bin FROM xovis_counts_wide WHERE sensor_id = ? AND resolution_min = ?\";\nmsg.payload = [msg.sensor_id, msg.resolution_min];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "c1f3f3ab08f5839c"
            ]
        ]
    },
    {
        "id": "7b6b24d0a9c74b33",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Build XOVIS request (incremental 1min)",
        "func": "const BASE_URL = msg.xovis.base_url;\n\n// wichtig: MIT Slash vor der ID\nconst PATH = `/api/v5/singlesensor/data/history/logics/${msg.xovis.logic_id}`;\n\n\nconst BUCKET_MIN = 1;\nconst BUCKET_MS = BUCKET_MIN * 60 * 1000;\n\n// last_bin kommt aus MariaDB: msg.payload = [ { last_bin: ... } ]\nlet lastBin = null;\nif (Array.isArray(msg.payload) && msg.payload[0] && msg.payload[0].last_bin) {\n  lastBin = msg.payload[0].last_bin;\n}\n\nlet lastBinMs = null;\nif (lastBin) {\n  if (lastBin instanceof Date) lastBinMs = lastBin.getTime();\n  else lastBinMs = Date.parse(String(lastBin));\n}\n\n// end = jetzt, auf 5min abgerundet\nconst now = Date.now();\nconst endMsAligned = now - (now % BUCKET_MS);\n\n// begin = lastBin + 5min, sonst initial (2h zurück, sauber gerundet)\nlet beginMs;\nif (lastBinMs) {\n  beginMs = lastBinMs + BUCKET_MS;\n} else {\n  const initial = now - 2 * 3600000;\n  beginMs = initial - (initial % BUCKET_MS);\n}\n\n// nichts Neues\nif (beginMs >= endMsAligned) {\n  node.status({fill:\"green\",shape:\"dot\",text:\"no new 5-min bins\"});\n  return null;\n}\n\nfunction toQuery(obj) {\n  return Object.keys(obj)\n    .filter(k => obj[k] !== undefined && obj[k] !== null)\n    .map(k => encodeURIComponent(k) + \"=\" + encodeURIComponent(String(obj[k])))\n    .join(\"&\");\n}\n\nconst params = {\n  begin: beginMs,\n  end: endMsAligned,\n  resolution_min: BUCKET_MIN,\n  time_format: \"UNIX_TIME_MS\",\n  include_empty: true,\n  pretty: false\n};\n\nmsg.method = \"GET\";\nmsg.url = `${BASE_URL}${PATH}?${toQuery(params)}`;\nmsg.headers = { Accept: \"application/json\" };\n\n// Metadaten für Downstream\nmsg.resolution_min = BUCKET_MIN;\n\nmsg.payload = null;\nnode.status({fill:\"blue\",shape:\"dot\",text:`fetch ${new Date(beginMs).toISOString()}..${new Date(endMsAligned).toISOString()}`});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 140,
        "wires": [
            [
                "35c9fcb9a8d4c6a1"
            ]
        ]
    },
    {
        "id": "35c9fcb9a8d4c6a1",
        "type": "http request",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "HTTP GET XOVIS (enable Basic Auth here)",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "7b9a78d2aabf3c41"
            ]
        ]
    },
    {
        "id": "7b9a78d2aabf3c41",
        "type": "switch",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Is JSON?",
        "property": "headers.content-type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "application/json",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "d799f9fbcf2d1a02"
            ],
            [
                "e3b0f3a52bc71b0f"
            ]
        ]
    },
    {
        "id": "e3b0f3a52bc71b0f",
        "type": "debug",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "NOT JSON (HTML/401/redirect) msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "d799f9fbcf2d1a02",
        "type": "json",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "JSON parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "5b6f1cf1c7b2b6e7"
            ]
        ]
    },
    {
        "id": "5b6f1cf1c7b2b6e7",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "toWideRows 5min (fw/bw, UNIX ms)",
        "func": "const sensor_id = msg.sensor_id || (msg.xovis && msg.xovis.sensor_id) || \"unknown_sensor\";\nconst resolution_min = msg.resolution_min || 1;\n\nconst BUCKET_MS = resolution_min * 60 * 1000;   // automatisch 1min oder 5min\n\nfunction msToMysqlUtc(ms) {\n  const d = new Date(ms);\n  const pad = n => String(n).padStart(2, \"0\");\n  return (\n    d.getUTCFullYear() + \"-\" +\n    pad(d.getUTCMonth() + 1) + \"-\" +\n    pad(d.getUTCDate()) + \" \" +\n    pad(d.getUTCHours()) + \":\" +\n    pad(d.getUTCMinutes()) + \":\" +\n    pad(d.getUTCSeconds())\n  );\n}\n\n// config.counts: [{id:3,name:\"fw\"},{id:4,name:\"bw\"}]\nconst cfgCounts = (msg.payload.config && msg.payload.config.counts) ? msg.payload.config.counts : [];\nconst idToCol = {};\nfor (const c of cfgCounts) {\n  const col = String(c.name || \"\").trim().toLowerCase().replace(/[^a-z0-9_]/g, \"_\");\n  if (!col) continue;\n  idToCol[c.id] = col;\n}\n\n// wide table enthält nur fw/bw\nconst allowed = new Set([\"fw\", \"bw\"]);\n\nconst measurements = msg.payload.measurements || [];\nconst rows = [];\n\nfor (const m of measurements) {\n  // wenn Xovis leere bins liefert (counts leer, records 0) -> skip\n  if ((m.records ?? 0) === 0 && (!m.counts || m.counts.length === 0)) {\n    continue;\n  }\n  \n  // begin/end sind UNIX ms\n  let b = Number(m.begin);\n  if (!Number.isFinite(b)) continue;\n\n  // auf 5-Min-Grenze zwingen\n  b = b - (b % BUCKET_MS);\n  const e = b + BUCKET_MS;\n\n  const row = {\n    sensor_id,\n    resolution_min,\n    bin_begin_utc: msToMysqlUtc(b),\n    bin_end_utc: msToMysqlUtc(e),\n    records: m.records ?? null\n  };\n\n  for (const c of (m.counts || [])) {\n    const col = idToCol[c.id];\n    if (!col || !allowed.has(col)) continue;\n    row[col] = (c.value ?? null);\n  }\n\n  rows.push(row);\n}\n\nmsg.payload = rows;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 260,
        "wires": [
            [
                "b2f3a9b0fcb1e6d1"
            ]
        ]
    },
    {
        "id": "b2f3a9b0fcb1e6d1",
        "type": "split",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Split rows",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "8a5f2a1f61a9caa9"
            ]
        ]
    },
    {
        "id": "8a5f2a1f61a9caa9",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "toSQL UPSERT (wide fw/bw)",
        "func": "const row = msg.payload;\nconst table = \"xovis_counts_wide\";\n\nconst cols = Object.keys(row);\nconst colList = cols.map(c => `\\`${c}\\``).join(\",\");\nconst placeholders = cols.map(_ => \"?\").join(\",\");\n\nconst pk = new Set([\"sensor_id\", \"resolution_min\", \"bin_begin_utc\"]);\nconst updates = cols\n  .filter(c => !pk.has(c))\n  .map(c => `\\`${c}\\`=VALUES(\\`${c}\\`)`)\n  .join(\",\");\n\nmsg.topic =\n  `INSERT INTO \\`${table}\\` (${colList}) VALUES (${placeholders}) ` +\n  `ON DUPLICATE KEY UPDATE ${updates}`;\n\nmsg.payload = cols.map(c => row[c]);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 460,
        "wires": [
            [
                "0c6f3b9c9e9c8a33",
                "bb9068fd2b855db2"
            ]
        ]
    },
    {
        "id": "d78e1cc98c4a2a11",
        "type": "debug",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "DB result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "0c6f3b9c9e9c8a33",
        "type": "debug",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "SQL preview (topic+payload)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "bb9068fd2b855db2",
        "type": "mysql",
        "z": "b7e2dbf3f8a0d2d1",
        "mydb": "19ca401d8e6b23b0",
        "name": "",
        "x": 550,
        "y": 500,
        "wires": [
            [
                "d78e1cc98c4a2a11"
            ]
        ]
    },
    {
        "id": "48aa2881f89baca4",
        "type": "debug",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "37a4b563ab9fc06b",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Create targets (ports 12309..12323)",
        "func": "// msg.payload kommt vom MySQL Node: Array von Zeilen aus xovis_sensors\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst targets = rows\n  .filter(r => r.host && r.port && r.logic_id)   // nur vollständige Einträge\n  .map(r => ({\n    sensor_id: r.sensor_id || `xovis_${r.host}_${r.port}`,\n    sensor_name: r.name || r.sensor_id || `${r.host}:${r.port}`,\n    host: r.host,\n    port: Number(r.port),\n    logic_id: Number(r.logic_id),\n    base_url: `http://${r.host}:${Number(r.port)}`\n  }));\n\nmsg.payload = targets;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 620,
        "wires": [
            [
                "da2f1777e3a62214"
            ]
        ]
    },
    {
        "id": "da2f1777e3a62214",
        "type": "split",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "d8b08f1f2d0c9f21"
            ]
        ]
    },
    {
        "id": "1acfd38dc2112c2b",
        "type": "mysql",
        "z": "b7e2dbf3f8a0d2d1",
        "mydb": "19ca401d8e6b23b0",
        "name": "",
        "x": 990,
        "y": 660,
        "wires": [
            [
                "f853c5f83f4b7f81"
            ]
        ]
    },
    {
        "id": "a2110185c7630bcd",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "SQL: Select Mail-Sensoren",
        "func": "\n\n\nmsg.topic =\n  `SELECT sensor_id, name, port, logic_id\nFROM xovis_sensors\nWHERE mail_enabled > 0\nORDER BY mail_enabled DESC, name, sensor_id;\n\n`;\n\n  return msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 600,
        "wires": [
            [
                "1acfd38dc2112c2b"
            ]
        ]
    },
    {
        "id": "f853c5f83f4b7f81",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Build Sensor-Array",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\n\nmsg.payload = rows\n  .filter(r => r.sensor_id)\n  .map(r => ({\n    sensor_id: String(r.sensor_id),\n    name: (r.name && String(r.name).trim()) ? String(r.name).trim() : String(r.sensor_id),\n    port: Number(r.port),           // neu\n    logic_id: Number(r.logic_id)    // neu\n  }));\n\nif (msg.payload.length === 0) {\n  node.warn(\"No sensors with mail_enabled > 0\");\n  return null;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 720,
        "wires": [
            [
                "858b0a0a802e1489"
            ]
        ]
    },
    {
        "id": "c0e272c57b1708c2",
        "type": "exec",
        "z": "b7e2dbf3f8a0d2d1",
        "command": "node /root/.node-red/render_chart_node.js",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "45",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1520,
        "y": 500,
        "wires": [
            [
                "1aa3e8b6b78e684d"
            ],
            [],
            []
        ]
    },
    {
        "id": "1aa3e8b6b78e684d",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Make mail part",
        "func": "// msg.payload kommt vom Exec als base64 PNG\nconst b64 = String(msg.payload || \"\").trim();\nconst pngBuf = Buffer.from(b64, \"base64\");\n\nconst safeId = String(msg.sensor_id).replace(/[^a-zA-Z0-9_-]/g, \"_\");\nconst cid = `xovis_${safeId}.png`;\n\nmsg.payload = {\n  html: `\n    <h3>${msg.sensor_name}</h3>\n    <img src=\"cid:${cid}\" style=\"max-width:900px;width:100%;height:auto;\">\n  `,\n  attachment: {\n    filename: `${safeId}.png`,\n    content: pngBuf,\n    contentType: \"image/png\",\n    cid\n  }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 580,
        "wires": [
            [
                "b486446f703be823"
            ]
        ]
    },
    {
        "id": "db148ae39f0f578a",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Chart JSON → File Prep",
        "func": "// msg.payload soll ein Objekt {labels, fw, bw, title} sein ODER bereits ein JSON-String\nconst json = (typeof msg.payload === \"string\") ? msg.payload : JSON.stringify(msg.payload);\n\n// eindeutiger Dateiname\nmsg.chartFile = `/tmp/xovis_chart_${Date.now()}_${Math.floor(Math.random()*1e6)}.json`;\n\n// File-Node nutzt msg.filename + msg.payload\nmsg.filename = msg.chartFile;\nmsg.payload = json;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1020,
        "wires": [
            [
                "6ebc6030284b70b5"
            ]
        ]
    },
    {
        "id": "6ebc6030284b70b5",
        "type": "file",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1100,
        "y": 1080,
        "wires": [
            [
                "2ca720beeed85994"
            ]
        ]
    },
    {
        "id": "2ca720beeed85994",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "function 9",
        "func": "msg.payload = msg.chartFile;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 500,
        "wires": [
            [
                "c0e272c57b1708c2"
            ]
        ]
    },
    {
        "id": "79348d6c5ef69f40",
        "type": "link out",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "b910dccd.a9034"
        ],
        "x": 1655,
        "y": 760,
        "wires": []
    },
    {
        "id": "c967395ebb88e66c",
        "type": "mysql",
        "z": "b7e2dbf3f8a0d2d1",
        "mydb": "19ca401d8e6b23b0",
        "name": "",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "37a4b563ab9fc06b"
            ]
        ]
    },
    {
        "id": "817a7a44256d86fb",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "function 8",
        "func": "msg.topic =\n  `SELECT sensor_id, host, port, name, logic_id\nFROM xovis_sensors\nORDER BY sensor_id;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 820,
        "wires": [
            [
                "c967395ebb88e66c"
            ]
        ]
    },
    {
        "id": "858b0a0a802e1489",
        "type": "split",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 990,
        "y": 780,
        "wires": [
            [
                "384f4424af8d406a"
            ]
        ]
    },
    {
        "id": "384f4424af8d406a",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Build SQL params",
        "func": "const s = msg.payload || {};\nmsg.sensor_id = String(s.sensor_id || \"\").trim();\nmsg.sensor_name = (s.name && String(s.name).trim()) ? String(s.name).trim() : msg.sensor_id;\nmsg.sensor_port = Number(s.port);\nmsg.sensor_logic_id = Number(s.logic_id);\n\nif (!msg.sensor_id) return null;\n\n// Lokales \"heute\" (Europe/Zurich) als Datumstring\nconst now = new Date();\nconst pad = n => String(n).padStart(2, \"0\");\nconst day = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\n\n// Report-Typ\nconst rt = msg.report_type || \"day_hours\";\n\n// === A) Tagesverlauf (heute, 24 Stunden)\nif (rt === \"day_hours\") {\n  const startLocal = `${day} 00:00:00`;\n\n  msg.topic = `\nWITH RECURSIVE hours AS (\n  SELECT TIMESTAMP(?) AS t_local\n  UNION ALL\n  SELECT t_local + INTERVAL 1 HOUR\n  FROM hours\n  WHERE t_local + INTERVAL 1 HOUR < TIMESTAMP(?) + INTERVAL 1 DAY\n)\nSELECT\n  DATE_FORMAT(h.t_local, '%H:00') AS x_label,\n  SUM(COALESCE(w.fw,0)) AS fw_sum,\n  SUM(COALESCE(w.bw,0)) AS bw_sum\nFROM hours h\nLEFT JOIN xovis_counts_wide w\n  ON w.resolution_min = 1\n AND w.sensor_id = ?\n AND w.bin_begin_utc >= CONVERT_TZ(h.t_local, 'Europe/Zurich', 'UTC')\n AND w.bin_begin_utc <  CONVERT_TZ(h.t_local + INTERVAL 1 HOUR, 'Europe/Zurich', 'UTC')\nGROUP BY h.t_local\nORDER BY h.t_local;\n`.trim();\n\n  msg.payload = [startLocal, startLocal, msg.sensor_id];\n  return msg;\n}\n\n// === B) Letzte 14 Tage (je Tag 24h kumuliert) -> 14 Punkte\nif (rt === \"days_14\") {\n  // Start = heute - 13 Tage (inkl. heute = 14 Tage)\n  const startLocal = `${day} 00:00:00`;\n\n  msg.topic = `\nWITH RECURSIVE days AS (\n  SELECT TIMESTAMP(?) - INTERVAL 13 DAY AS d_local\n  UNION ALL\n  SELECT d_local + INTERVAL 1 DAY\n  FROM days\n  WHERE d_local + INTERVAL 1 DAY <= TIMESTAMP(?)\n)\nSELECT\n  DATE_FORMAT(d.d_local, '%d.%m') AS x_label,\n  SUM(COALESCE(w.fw,0)) AS fw_sum,\n  SUM(COALESCE(w.bw,0)) AS bw_sum\nFROM days d\nLEFT JOIN xovis_counts_wide w\n  ON w.resolution_min = 1\n AND w.sensor_id = ?\n AND w.bin_begin_utc >= CONVERT_TZ(d.d_local, 'Europe/Zurich', 'UTC')\n AND w.bin_begin_utc <  CONVERT_TZ(d.d_local + INTERVAL 1 DAY, 'Europe/Zurich', 'UTC')\nGROUP BY d.d_local\nORDER BY d.d_local;\n`.trim();\n\n  msg.payload = [startLocal, startLocal, msg.sensor_id];\n  return msg;\n}\n\n// === C) Letzte 52 Wochen (Wochenwerte, Mo..So) -> 52 Punkte\nif (rt === \"weeks_52\") {\n  const startLocal = `${day} 00:00:00`;\n\n  msg.topic = `\nWITH RECURSIVE weeks AS (\n  -- Montag dieser Woche (lokal)\n  SELECT DATE_SUB(DATE(TIMESTAMP(?)), INTERVAL WEEKDAY(DATE(TIMESTAMP(?))) DAY) - INTERVAL 51 WEEK AS w_local\n  UNION ALL\n  SELECT w_local + INTERVAL 1 WEEK\n  FROM weeks\n  WHERE w_local + INTERVAL 1 WEEK <= DATE_SUB(DATE(TIMESTAMP(?)), INTERVAL WEEKDAY(DATE(TIMESTAMP(?))) DAY)\n)\nSELECT\n  CONCAT('KW ', LPAD(WEEK(w.w_local, 3), 2, '0')) AS x_label,\n  SUM(COALESCE(wd.fw,0)) AS fw_sum,\n  SUM(COALESCE(wd.bw,0)) AS bw_sum\nFROM weeks w\nLEFT JOIN xovis_counts_wide wd\n  ON wd.resolution_min = 1\n AND wd.sensor_id = ?\n AND wd.bin_begin_utc >= CONVERT_TZ(w.w_local, 'Europe/Zurich', 'UTC')\n AND wd.bin_begin_utc <  CONVERT_TZ(w.w_local + INTERVAL 1 WEEK, 'Europe/Zurich', 'UTC')\nGROUP BY w.w_local\nORDER BY w.w_local;\n`.trim();\n\n  // Achtung: wir brauchen startLocal mehrfach für die WEEKDAY()-Berechnung\n  msg.payload = [startLocal, startLocal, startLocal, startLocal, msg.sensor_id];\n  return msg;\n}\n\n// fallback\nnode.warn(\"Unknown report_type: \" + rt);\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 840,
        "wires": [
            [
                "1b1e0b302224a011"
            ]
        ]
    },
    {
        "id": "1b1e0b302224a011",
        "type": "mysql",
        "z": "b7e2dbf3f8a0d2d1",
        "mydb": "19ca401d8e6b23b0",
        "name": "",
        "x": 990,
        "y": 900,
        "wires": [
            [
                "a357c6db6ffde427"
            ]
        ]
    },
    {
        "id": "b486446f703be823",
        "type": "join",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1710,
        "y": 640,
        "wires": [
            [
                "77c13266309a0c7c"
            ]
        ]
    },
    {
        "id": "77c13266309a0c7c",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Build final email",
        "func": "const parts = msg.payload; // Array von {html, attachment}\n\nconst htmlBlocks = parts.map(p => p.html).join(\"<hr style='border:0;border-top:1px solid #ddd;'>\");\nconst attachments = parts.map(p => p.attachment);\n\nmsg.to = \"dein.mail@domain.tld\";\nmsg.topic = msg.report_subject || \"XOVIS Report\";\n\nmsg.payload = `\n  <h2>Datenbericht Matrans</h2>\n  <p>Diagramme pro Sensor</p>\n  ${htmlBlocks}\n`;\nmsg.attachments = attachments;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 700,
        "wires": [
            [
                "79348d6c5ef69f40"
            ]
        ]
    },
    {
        "id": "a357c6db6ffde427",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Rows → chart input",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst labels = rows.map(r => String(r.x_label ?? \"\").trim());\nconst fw = rows.map(r => {\n  const n = Number(r.fw_sum);\n  return Number.isFinite(n) ? n : 0;\n});\nconst bw = rows.map(r => {\n  const n = Number(r.bw_sum);\n  return Number.isFinite(n) ? n : 0;\n});\n\n// Titel: Name (pp/logic)\nconst name = (msg.sensor_name && String(msg.sensor_name).trim())\n  ? String(msg.sensor_name).trim()\n  : String(msg.sensor_id || \"Sensor\");\n\nconst portNum = Number(msg.sensor_port);\nconst port2 = Number.isFinite(portNum) ? (\"0\" + (portNum % 100)).slice(-2) : \"??\";\n\nconst logicNum = Number(msg.sensor_logic_id);\nconst logic = Number.isFinite(logicNum) ? String(logicNum) : \"?\";\n\n// Report-Text optional in Titel\nlet suffix = \"\";\nif (msg.report_type === \"day_hours\") suffix = \" – heute\";\nif (msg.report_type === \"days_14\")  suffix = \" – 14 Tage\";\nif (msg.report_type === \"weeks_52\") suffix = \" – 52 Wochen\";\n\nmsg.payload = {\n  labels,\n  fw,\n  bw,\n  title: name + \" (\" + port2 + \"/\" + logic + \")\" + suffix\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 960,
        "wires": [
            [
                "db148ae39f0f578a"
            ]
        ]
    },
    {
        "id": "4101706a0fbeb301",
        "type": "inject",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "1 Jahr",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "8651bbbe6f777649"
            ]
        ]
    },
    {
        "id": "bf15cf94e55fcc96",
        "type": "inject",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "1 Tag",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "2feeb821c8c53778"
            ]
        ]
    },
    {
        "id": "bd391723c6f65b44",
        "type": "inject",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "2 Wochen",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 1060,
        "wires": [
            [
                "5b758598381a91c7"
            ]
        ]
    },
    {
        "id": "2feeb821c8c53778",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "function 10",
        "func": "msg.report_type = \"day_hours\";          // 24 Punkte\nmsg.report_subject = \"XOVIS Tagesverlauf (heute)\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1020,
        "wires": [
            [
                "a2110185c7630bcd"
            ]
        ]
    },
    {
        "id": "5b758598381a91c7",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "function 11",
        "func": "msg.report_type = \"days_14\";            // 14 Punkte\nmsg.report_subject = \"XOVIS Tageswerte (letzte 14 Tage)\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1060,
        "wires": [
            [
                "a2110185c7630bcd"
            ]
        ]
    },
    {
        "id": "8651bbbe6f777649",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "function 12",
        "func": "msg.report_type = \"weeks_52\";           // 52 Punkte\nmsg.report_subject = \"XOVIS Wochenwerte (letzte 12 Monate)\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "a2110185c7630bcd"
            ]
        ]
    },
    {
        "id": "3da18c2aba8a788e",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "SQL: fw pro Sensor",
        "func": "// Build SQL params (All sensors fw) – vor dem SQL Node\n// setzt startLocal und liefert die Parameter 3× (für STR_TO_DATE im Query)\n\nconst now = new Date();\nconst pad = n => String(n).padStart(2, \"0\");\nconst day = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\nconst startLocal = `${day} 00:00:00`;\n\n// Dein SQL Query in msg.topic (füge hier exakt das Stunden-Query ein)\nmsg.topic = `\nSELECT\n  DATE_FORMAT(DATE_ADD(STR_TO_DATE(?, '%Y-%m-%d %H:%i:%s'), INTERVAL hrs.n HOUR), '%H:00') AS x_label,\n  s.sensor_id,\n  s.name AS sensor_name,\n  SUM(COALESCE(w.fw,0)) AS fw_sum\nFROM (\n  SELECT 0 n UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5\n  UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9 UNION ALL SELECT 10 UNION ALL SELECT 11\n  UNION ALL SELECT 12 UNION ALL SELECT 13 UNION ALL SELECT 14 UNION ALL SELECT 15 UNION ALL SELECT 16 UNION ALL SELECT 17\n  UNION ALL SELECT 18 UNION ALL SELECT 19 UNION ALL SELECT 20 UNION ALL SELECT 21 UNION ALL SELECT 22 UNION ALL SELECT 23\n) hrs\nJOIN xovis_sensors s\n  ON s.mail_enabled > 0\nLEFT JOIN xovis_counts_wide w\n  ON w.resolution_min = 1\n AND (\n      w.sensor_id = s.sensor_id\n      OR w.sensor_id LIKE CONCAT(s.sensor_id, '\\\\\\\\_%') ESCAPE '\\\\\\\\'\n )\n AND w.bin_begin_utc >= CONVERT_TZ(\n       DATE_ADD(STR_TO_DATE(?, '%Y-%m-%d %H:%i:%s'), INTERVAL hrs.n HOUR),\n       'Europe/Zurich', 'UTC'\n )\n AND w.bin_begin_utc <  CONVERT_TZ(\n       DATE_ADD(STR_TO_DATE(?, '%Y-%m-%d %H:%i:%s'), INTERVAL hrs.n + 1 HOUR),\n       'Europe/Zurich', 'UTC'\n )\nGROUP BY hrs.n, s.sensor_id, s.name\nORDER BY hrs.n, s.name;\n`.trim();\n\n// Parameter: startLocal wird 3× gebraucht (siehe Query)\nmsg.payload = [startLocal, startLocal, startLocal];\n\n// Für Mail-Betreff (optional)\nmsg.report_subject = msg.report_subject || \"XOVIS – Alle Sensoren (fw) – Stundenwerte\";\nmsg.report_type = \"all_sensors_fw_hours\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1160,
        "wires": [
            [
                "edf35f82fbec4f80"
            ]
        ]
    },
    {
        "id": "edf35f82fbec4f80",
        "type": "mysql",
        "z": "b7e2dbf3f8a0d2d1",
        "mydb": "19ca401d8e6b23b0",
        "name": "",
        "x": 1010,
        "y": 1220,
        "wires": [
            [
                "ea1816fdfda5563b"
            ]
        ]
    },
    {
        "id": "ea1816fdfda5563b",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Rows → chart input",
        "func": "// Rows → chart input (multi-dataset), nur fw\n// Erwartet rows: [{x_label, sensor_id, sensor_name, fw_sum}, ...]\n// Output: msg.payload = {labels, datasets, title}\n\nconst rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst toNum = v => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n};\n\n// Labels in Reihenfolge (unique)\nconst labels = [];\nconst labelSet = new Set();\nfor (const r of rows) {\n  const x = String(r.x_label ?? \"\").trim();\n  if (x && !labelSet.has(x)) {\n    labelSet.add(x);\n    labels.push(x);\n  }\n}\n\n// Sensorliste (unique) – Reihenfolge wie im Resultset (ORDER BY s.name)\nconst sensors = [];\nconst sensorSet = new Set();\nfor (const r of rows) {\n  const id = String(r.sensor_id ?? \"\").trim();\n  if (id && !sensorSet.has(id)) {\n    sensorSet.add(id);\n    sensors.push({\n      sensor_id: id,\n      sensor_name: String(r.sensor_name ?? id).trim()\n    });\n  }\n}\n\n// Werte-Matrix: sensor_id -> Map(x_label -> fw)\nconst valMap = new Map();\nfor (const s of sensors) valMap.set(s.sensor_id, new Map());\n\nfor (const r of rows) {\n  const id = String(r.sensor_id ?? \"\").trim();\n  const x  = String(r.x_label ?? \"\").trim();\n  if (!id || !x) continue;\n  valMap.get(id)?.set(x, toNum(r.fw_sum));\n}\n\n// Datasets bauen (nur fw)\nconst datasets = sensors.map(s => ({\n  label: s.sensor_name + \" fw\",\n  data: labels.map(x => valMap.get(s.sensor_id)?.get(x) ?? 0)\n}));\n\nmsg.payload = {\n  labels,\n  datasets,\n  title: \"Alle Sensoren (fw) – Stundenwerte\",\n  stacked: false   // <-- false = nebeneinander, true = gestapelt\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1300,
        "wires": [
            [
                "848f6fa3a37c8b60"
            ]
        ]
    },
    {
        "id": "848f6fa3a37c8b60",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Chart JSON → File Prep",
        "func": "// Chart JSON → File Prep (Function) – Multi-Dataset kompatibel\n// Input:  msg.payload = { labels: [...], datasets: [...], title: \"...\" }\n// Output: msg.filename (für Write File), msg.chartFile merken, msg.payload = JSON-String\n\nconst chartObj = msg.payload;\n\nif (!chartObj || typeof chartObj !== \"object\") {\n  node.warn(\"Chart JSON missing/invalid\");\n  return null;\n}\n\n// JSON serialisieren\nconst json = JSON.stringify(chartObj);\n\n// eindeutiger tmp-Dateiname\nconst ts = Date.now();\nconst rnd = Math.floor(Math.random() * 1e6);\n\n// optional: report_type in filename (z.B. day_hours/days_14/weeks_52)\nconst rt = (msg.report_type && String(msg.report_type).trim()) ? String(msg.report_type).trim() : \"report\";\n\nmsg.chartFile = `/tmp/xovis_chart_${rt}_${ts}_${rnd}.json`;\nmsg.filename = msg.chartFile;  // Write File node nutzt msg.filename\nmsg.payload = json;            // Write File node schreibt msg.payload\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 1360,
        "wires": [
            [
                "68690fd0ce0201bd"
            ]
        ]
    },
    {
        "id": "68690fd0ce0201bd",
        "type": "file",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1480,
        "y": 1260,
        "wires": [
            [
                "fdab4e59fac547fe"
            ]
        ]
    },
    {
        "id": "fdab4e59fac547fe",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "function 13",
        "func": "msg.payload = msg.chartFile;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1180,
        "wires": [
            [
                "f4f2e7bcc5f06997"
            ]
        ]
    },
    {
        "id": "f4f2e7bcc5f06997",
        "type": "exec",
        "z": "b7e2dbf3f8a0d2d1",
        "command": "node /root/.node-red/render_chart_node_rev2.js",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "45",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1460,
        "y": 1060,
        "wires": [
            [
                "dfc1af98c04ab1df"
            ],
            [
                "c3e89b5f170f1563"
            ],
            [
                "c2e7227d68de8e3e"
            ]
        ]
    },
    {
        "id": "dfc1af98c04ab1df",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "Build final email",
        "func": "// Build email (ohne Join) – Alle Sensoren (fw) in EINEM Diagramm\n// Input: msg.payload = base64 PNG (stdout vom Exec)\n\nconst b64 = String(msg.payload || \"\").trim();\nif (!b64 || b64.length < 200) {\n  node.warn(\"No/too short base64 from exec - no email sent\");\n  return null;\n}\n\nconst pngBuf = Buffer.from(b64, \"base64\");\n\n// Subject optional vom Inject\nconst subject = msg.report_subject || msg.topic || \"XOVIS Report (alle Sensoren fw)\";\n\nmsg.to = msg.to || \"dein.mail@domain.tld\";\nmsg.topic = subject;\n\n// HTML\nmsg.payload = `\n  <h2>${subject}</h2>\n  <p>Alle Sensoren – nur <b>fw</b></p>\n  <img src=\"cid:xovis_all_fw.png\" style=\"max-width:1100px;width:100%;height:auto;\">\n`;\n\n// Inline Attachment\nmsg.attachments = [{\n  filename: \"xovis_all_fw.png\",\n  content: pngBuf,\n  contentType: \"image/png\",\n  cid: \"xovis_all_fw.png\"\n}];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 1000,
        "wires": [
            [
                "79348d6c5ef69f40"
            ]
        ]
    },
    {
        "id": "74cb9fd47fbdbfdb",
        "type": "inject",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "1 Tag",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 1180,
        "wires": [
            [
                "865c1a637ce4e3a9"
            ]
        ]
    },
    {
        "id": "865c1a637ce4e3a9",
        "type": "function",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "function 14",
        "func": "msg.report_type = \"day_hours\";          // 24 Punkte\nmsg.report_subject = \"XOVIS Tagesverlauf (heute)\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1180,
        "wires": [
            [
                "3da18c2aba8a788e"
            ]
        ]
    },
    {
        "id": "c3e89b5f170f1563",
        "type": "debug",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c2e7227d68de8e3e",
        "type": "debug",
        "z": "b7e2dbf3f8a0d2d1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 1160,
        "wires": []
    }
]